:root {
  --primary:#3b82f6;
  --secondary:#d4d4d4;
  --buttonBg: ;
  --buttonText: ;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hidden {
  display: none;
}

.btn-h:hover {
  text-decoration: underline;
}

button:hover {
  color: #60a5fa;
}

header {
  background-color: var(--primary);
  width: 100%;
  height: 100px;
}
header .container {
  display: flex;
  flex-flow: row;
  align-items: center;
}
header .container h1 {
  flex-grow: 2;
}
header .container i {
  font-size: 24px;
  padding: 0 0.5em;
}

main {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 150px);
}
main .projects-tab {
  display: block;
  height: auto;
  padding: 0 1em;
  background-color: var(--secondary);
}
main .projects-tab .default-projects {
  display: flex;
  flex-flow: column;
}
main .projects-tab .default-projects button {
  display: flex;
  flex-flow: row;
  border: none;
  background-color: inherit;
  align-items: flex-start;
  cursor: pointer;
}
main .projects-tab .default-projects button i {
  margin-right: 1em;
}
main .projects-tab .default-projects button:nth-child(n) {
  margin-right: 1em;
}
main .projects-tab .project-list {
  display: flex;
  flex-flow: column;
}
main .projects-tab .project-list button:hover {
  text-decoration: underline;
}
main .projects-tab .add-project-btn {
  display: flex;
  flex-flow: row;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
main .projects-tab .add-project-btn i {
  margin-right: 1em;
}
main .tasks-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
main .tasks-container .add-task-btn {
  display: flex;
  flex-flow: row;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
main .tasks-container .add-task-btn button:hover {
  text-decoration: underline;
}
main .tasks-container .add-task-btn i {
  margin-right: 1em;
}

footer {
  height: 50px;
  background-color: var(--primary);
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  display: flex;
  flex-flow: column;
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%;
  background-color: #fff;
  border-radius: 1rem 1rem 1rem 1rem;
}
.modal .modal-content .modal-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 1rem 1rem 0 0;
}
.modal .modal-content .modal-header h2 {
  padding-left: 0.5rem;
}
.modal .modal-content .modal-header .close-btn {
  font-size: 24px;
  border: none;
  background-color: inherit;
  margin-right: 0.5rem;
}
.modal .modal-content .modal-header .close-btn:hover,
.modal .modal-content .modal-header .close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modal-main {
  padding: 0 0.5rem;
}
.modal .modal-content .modal-main .new-task-title-textarea textarea {
  font-size: 1.4rem;
  height: 2rem;
  outline: none;
  width: 100%;
  resize: none;
  border: none;
  overflow: hidden;
}
.modal .modal-content .modal-main .new-task-details-textarea textarea {
  height: 12rem;
  outline: none;
  width: 100%;
  resize: none;
  border: none;
}
.modal .modal-content .modal-main .new-task-due-date {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.modal .modal-content .modal-main .new-task-due-date p {
  margin-right: 1rem;
}
.modal .modal-content .modal-main .new-task-due-date input {
  color: #3b82f6;
  border-radius: 1rem;
}
.modal .modal-content .modal-footer {
  display: flex;
  flex-flow: row;
  padding: 0;
  width: 100%;
}
.modal .modal-content .modal-footer .add-task-container {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: transparent;
  border: none;
  padding: 1rem 0;
}
.modal .modal-content .modal-footer .add-task-container:hover {
  border-radius: 0 0 0 1rem;
  background-color: var(--secondary);
}
.modal .modal-content .modal-footer .task-complete-container {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: transparent;
  border: none;
  margin: 1rem 0;
}/*# sourceMappingURL=main.css.map */